minirefresh-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        position: relative;
        background: #fff;
    }
    .main {
        position: relative;
        flex: 1;
    }
    empty {
        position: relative;
        display: block;
        background: #efefef;
    }
}